[Unit]
Description=kiwix_server_for_wikipedia
After=network.target

[Service]
Type=simple
ExecStart=/usr/share/kiwix/kiwix-serve --port=8001 --library /home/pi/kiwix/library.xml 
KillSignal=SIGINT
Restart=on-failure
RestartSec=5

[Install]
WantedBy=multi-user.target
